body{
    background-image: url('https://wallpaper.dog/large/10768038.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
table,h1,h3,ul{
    color: aliceblue;
}
